@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*
{
    
    
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    z-index: 1000;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px; /* Stay at the top */
    left: 0;
    background-color: rgb(228, 228, 228); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: rgb(180, 180, 180) solid 1px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 30px 8px 30px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #5e5d5d;
    display: block;
    transition: 0.3s;
    border-bottom: solid 0.2px #b1b1b1;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000000;
    background-color: rgb(192, 192, 192);
  }
  

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: 0.5s;
    padding: 20px;
    padding-left: 16em;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav .btnn
  {
      bottom: 0px;
      left: 0;
      margin-top: 8vh;
      margin-left: 2vw;
      padding: 20px 60px;
      background-color: #5e5d5d;
      border-radius: 3px;
      color: #ffffff;
      border: none;
  }

  .sidenav .btnn:hover
  {
      background-color: #222222;
  }

  .storename
  {
      margin-top: 3px;
      margin-bottom: 2px;
      margin-left: 2em;
      
  }
  #main .addprod{
    padding: 10px 8px 10px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #5e5d5d;
    border-bottom: solid 0.2px #b1b1b1;
  }
  .addBox{
    visibility: hidden;
    width: 450px;
    height: 620px;
    background: #fff;
    color: black;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 38px;
    box-shadow:5px 10px 50px  rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .addBox h1{
    text-align: center;
  }

  .addBox .bttn0{
    border-radius: 5px 5px ;
    background-color: #f1f3f8;
    top: 50%;
    margin-top: 50px;
    margin-right: 400px;
    
    padding-left: 20px;
    padding-right: 20px;
   position: inherit;
  }
  .addBox .desc{
    padding-right: 150px;
    padding-bottom: 100px;
  }
.addBox p{
  height: 15px;
  padding-top: 8px;
}  
.addBox .bttn1{
  border-radius: 5px 5px ;
    background-color: #f1f3f8;
    
    margin-right:-180px;
    margin-left: -180px;
    
  
}
#lgDemo {
  display: grid;
  grid-template-columns: 50%;
  grid-gap: 5px;
  margin-left: 250px;
  margin-top: 100px;
}
#lgDemo .item {
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background-color: gray;
  border-radius: 3px;
  
}



/* (B) TRANSFORM INTO GRID VIEW */
#lgDemo{ grid-template-columns: 33% 33% 33%; }
body {
  overflow: scroll; /* Show scrollbars */
}

table{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
table thead tr{
  background-color: #505251;
  color: #ffffff;
  text-align: left;
}
table th ,td {
  padding: 12px 15px;
}
table tr{
  border-bottom: 1px solid #dddddd;
}
table tr:nth-of-type(even){
  background-color: #f3f3f3;
}
table tr:last-of-type{
  border-bottom: 2px solid #505251;
}