

.logo-brand{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar{

    font-size: 20px;
}


#btn1{

    margin-left: 55%;
    margin-right: 10px;
    padding-inline: 20px;
    
}

#btn2{

    padding-inline: 20px;
}

.h11{

    color: rgb(41, 77, 119);
    text-align: center;
    
}

.lead{
    color: rgb(0, 53, 0);
    font-style: italic;
    text-align: center;
    
}



body{

    background: url(pexels-burst-374006.jpg) no-repeat center fixed;
    background-size: cover;
}

.header2{
    
    background-color: ivory;
}